<app-header></app-header>

<div class="container grid grid-cols-12 gap-8 mt-8">
  <!-- Column -->
  <div class="col-span-12 md:col-span-9 ">
    <app-main-slider></app-main-slider>
  </div>
  <!-- Column -->
  <div class="col-span-12 md:col-span-3">
    <app-news-sidebar></app-news-sidebar>
  </div>
  <!-- Column -->
  <div class="col-span-12 md:col-span-9  sm:order-last md:order-none">
    <app-facts-slider></app-facts-slider>
    <app-blog></app-blog>
  </div>
  <!-- Column -->
  <div class="col-span-12 md:col-span-3 h-96 ">
    <app-popular-sidebar></app-popular-sidebar>
  </div>


</div>


<router-outlet />
