<div class="slider-container bg-white p-3 rounded-2xl">
  <swiper-container
    navigation="true"
    pagination="true"
    pagination-clickable="true"
    pagination-dynamic-bullets="true"
    effect="fade"
    loop="true">
    <swiper-slide>
      <div class="">
        <div class="image-container relative rounded-2xl overflow-hidden">
          <img class="absolute z-0" src="./assets/images/pexels.jpg" alt="STARRY SKY IMAGE">
        </div>
        <div class="content-container relative pt-3 bg-white min-h-48">
          <div class="badge-container flex gap-2 align-middle">
            <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">12.08.2023</span>
            <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">პოლიტიკა</span>
          </div>
          <h2 class="text-midnight font-noto text-2xl font-semibold pt-3 ellipsis">ქვემო
            ქართლის რეგიონში 20 მლნ ლარამდე ღირებულების ინფრასტრუქტურული პროექტები დაიწყება</h2>
          <p class="text-gray font-noto text-base font-normal pt-3 pb-1.5 ellipsis">განთავსების (ლისტინგის) ორგანიზატორი სომხეთის
            ბანკი სს “არდშიბანკია”. ობლიგაციის ნომინალი - 1000 USD</p>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="">
        <div class="image-container relative rounded-2xl overflow-hidden">
          <img class="absolute z-0" src="./assets/images/desk.jpg" alt="STARRY SKY IMAGE">
        </div>
        <div class="content-container relative pt-3 bg-white min-h-48">
          <div class="badge-container flex gap-2 align-middle">
            <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">12.08.2023</span>
            <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">პოლიტიკა</span>
          </div>
          <h2 class="text-midnight font-noto text-2xl font-semibold pt-3 ellipsis">ქვემო
            ქართლის რეგიონში 20 მლნ ლარამდე ღირებულების ინფრასტრუქტურული პროექტები დაიწყება ქვემო
            ქართლის რეგიონში 20 მლნ ლარამდე ღირებულების ინფრასტრუქტურული პროექტები დაიწყება ქვემო
            ქართლის რეგიონში 20 მლნ ლარამდე ღირებულების ინფრასტრუქტურული პროექტები დაიწყება</h2>
          <p class="text-gray font-noto text-base font-normal pt-3 pb-1.5 ellipsis">განთავსების (ლისტინგის) ორგანიზატორი სომხეთის
            ბანკი სს “არდშიბანკია”. ობლიგაციის ნომინალი - 1000 USD განთავსების (ლისტინგის) ორგანიზატორი სომხეთის
            ბანკი სს “არდშიბანკია”. ობლიგაციის ნომინალი - 1000  asdasd asdasd</p>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="">
        <div class="image-container relative rounded-2xl overflow-hidden">
          <img class="absolute z-0" src="./assets/images/moon.jpg" alt="STARRY SKY IMAGE">
        </div>
        <div class="content-container relative pt-3 bg-white  min-h-48">
          <div class="badge-container flex gap-2 align-middle">
            <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">12.08.2023</span>
            <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">პოლიტიკა</span>
          </div>
          <h2 class="text-midnight font-noto text-2xl font-semibold pt-3 ellipsis">slaidi nomer 3</h2>
          <p class="text-gray font-noto text-base font-normal pt-3 pb-1.5 ellipsis">asdasd</p>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="">
        <div class="image-container relative rounded-2xl overflow-hidden">
          <img class="absolute z-0" src="./assets/images/pexels.jpg" alt="STARRY SKY IMAGE">
        </div>
        <div class="content-container relative pt-3 bg-white min-h-48">
          <div class="badge-container flex gap-2 align-middle">
            <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">12.08.2023</span>
            <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">პოლიტიკა</span>
          </div>
          <h2 class="text-midnight font-noto text-2xl font-semibold pt-3 ellipsis">ქვემო
            ქართლის რეგიონში 20 მლნ ლარამდე ღირებულების ინფრასტრუქტურული პროექტები დაიწყება</h2>
          <p class="text-gray font-noto text-base font-normal pt-3 pb-1.5 ellipsis">განთავსების (ლისტინგის) ორგანიზატორი სომხეთის
            ბანკი სს “არდშიბანკია”. ობლიგაციის ნომინალი - 1000 USD</p>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>

