
:root{
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    position: absolute;
    background: red;
  }
  .swiper-pagination{
    background: red;
  }
  .slider-container .swiper-pagination{
    background: red;
    background-color: yellow;
    bottom: 600px;
  }
}
.image-container{
  height: 406px;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @media screen and (min-width:360px){
   height: 280px;
  }
  @media screen and (min-width:1024px){
    height: 406px;

  }
}
.swiper-pagination-bullet-active {
  background-color: #000 !important;
}
