
<div class="grid grid-cols-12 gap-4 my-8 lg:gap-4 mb-3">
  <div class="col-span-12 order-1 lg:col-span-4 md:col-span-6 xs:col-span-12  lg:order-none">
    <div class="item p-2 mb-3 bg-white rounded-2xl">
      <div class="image-container relative rounded-2xl overflow-hidden h-24">
        <img class="absolute z-0" src="./assets/images/pexels.jpg" alt="STARRY SKY IMAGE">
      </div>
      <div class="content-container relative pt-3">
        <div class="badge-container flex gap-2 align-middle">
          <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">12.08.2023</span>
          <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">პოლიტიკა</span>
        </div>
        <h2 class="text-midnight font-noto text-base font-medium pt-3 max-h-10 overflow-hidden">ქვემო
          ქართლის რეგიონში 20 მლნ ლარამდე ღირებულების ინფრასტრუქტურული პროექტები დაიწყება</h2>
      </div>
    </div>
    <div class="item p-2 mb-3 bg-white rounded-2xl">
      <div class="image-container relative rounded-2xl overflow-hidden h-24">
        <img class="absolute z-0" src="./assets/images/pexels.jpg" alt="STARRY SKY IMAGE">
      </div>
      <div class="content-container relative pt-3">
        <div class="badge-container flex gap-2 align-middle">
          <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">12.08.2023</span>
          <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">პოლიტიკა</span>
        </div>
        <h2 class="text-midnight font-noto text-base font-medium pt-3 max-h-10 overflow-hidden">ქვემო
          ქართლის რეგიონში 20 მლნ ლარამდე ღირებულების ინფრასტრუქტურული პროექტები დაიწყება</h2>
      </div>
    </div>
  </div>
  <div class="col-span-12 order-0 lg:col-span-4 md:col-span-12 xs:col-span-12 lg:order-none">
    <div class="item p-2  bg-white rounded-2xl">
      <div class="image-container relative rounded-2xl overflow-hidden h-64">
        <img class="absolute z-0" src="./assets/images/pexels.jpg" alt="STARRY SKY IMAGE">
      </div>
      <div class="content-container relative pt-3">
        <div class="badge-container flex gap-2 align-middle">
          <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">12.08.2023</span>
          <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">პოლიტიკა</span>
        </div>
        <h2 class="text-midnight font-noto text-base font-medium pt-3 max-h-10 overflow-hidden">ქვემო
          ქართლის რეგიონში 20 მლნ ლარამდე ღირებულების ინფრასტრუქტურული პროექტები დაიწყება</h2>
      </div>
    </div>
  </div>
  <div class="col-span-12 order-2 lg:col-span-4 md:col-span-6 xs:col-span-12 lg:order-none">
    <div class="item p-2 mb-3 bg-white rounded-2xl">
      <div class="image-container relative rounded-2xl overflow-hidden h-24">
        <img class="absolute z-0" src="./assets/images/pexels.jpg" alt="STARRY SKY IMAGE">
      </div>
      <div class="content-container relative pt-3">
        <div class="badge-container flex gap-2 align-middle">
          <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">12.08.2023</span>
          <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">პოლიტიკა</span>
        </div>
        <h2 class="text-midnight font-noto text-base font-medium pt-3 max-h-10 overflow-hidden">ქვემო
          ქართლის რეგიონში 20 მლნ ლარამდე ღირებულების ინფრასტრუქტურული პროექტები დაიწყება</h2>
      </div>
    </div>
    <div class="item p-2 mb-3 bg-white rounded-2xl">
      <div class="image-container relative rounded-2xl overflow-hidden h-24">
        <img class="absolute z-0" src="./assets/images/pexels.jpg" alt="STARRY SKY IMAGE">
      </div>
      <div class="content-container relative pt-3">
        <div class="badge-container flex gap-2 align-middle">
          <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">12.08.2023</span>
          <span class="bg-primary-2 text-midnight font-noto text-xs font-bold px-2 py-1.5 rounded inline-block">პოლიტიკა</span>
        </div>
        <h2 class="text-midnight font-noto text-base font-medium pt-3 max-h-10 overflow-hidden">ქვემო
          ქართლის რეგიონში 20 მლნ ლარამდე ღირებულების ინფრასტრუქტურული პროექტები დაიწყება</h2>
      </div>
    </div>
  </div>
</div>
